

.sections{
    width:100%;
    height:calc(100vh - 70px);

   
    position:relative;
    top: 70px;
    scroll-behavior: auto;
    overflow: auto;
    scroll-snap-type: y mandatory;
    
  
}
.sections::-webkit-scrollbar{
    display: none;
}
.sections >  div{
    width:100%;
    height:calc(100vh - 70px);

    scroll-snap-align: start;
}